@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadProRegular.woff') format('woff'), url('../fonts/MyriadProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nautilus Pompilius';
    src: url('../fonts/nautiluspompilius.woff2') format('woff2'), url('../fonts/nautiluspompilius.woff') format('woff'), url('../fonts/nautiluspompilius.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'MyriadPro Regular', sans-serif;
    color: #555555;
    line-height: 1.2;
}

a, button, input[type="submit"] {
    cursor: pointer;
}

a, a:hover, a:active {
    outline: none;
    border: none;
}
a:hover {
    text-decoration: none;
}
button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}

.form-field::-webkit-input-placeholder {font-size: 16px;color: #999999;opacity: 1;}
.form-field::-moz-placeholder {font-size: 16px;color: #999999;opacity: 1;}
.form-field:-moz-placeholder {font-size: 16px;color: #999999;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 16px;color: #999999;opacity: 1;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 58px;
    font-weight: 100;
    line-height: 1;
}
h2 {
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 50px;
    color: #fb6700;
}
h2 span {
    display: block;
    color: #fb6700;
}

img {
    display: block;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

html {
    width: 100%;
    background: #ffffff;
}
body {
    width: 100%;
    margin: 0 auto;
}

.block-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8%;
    text-align: center;
    position: relative;
}

.parallax-block {
    width: 100%;
    padding-top: 28%;
}

/* header */
.header {
    background: #eaf0fe;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
}
.logo-image {
    display: inline-block;
    vertical-align: middle;
    width: 109px;
    height: 133px;
    background: url('../images/logo-image.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 9%;
    bottom: -40px;
}
.logo-text {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    line-height: 1;
    margin: 15px 0 15px 5%;
}
.logo-text:hover {
    text-decoration: none;
}
.logo-text .domain {
    text-transform: lowercase;
    line-height: 1;
}
.logo-text .tagline {
    display: block;
    font-size: 33px;
    line-height: 1;
}
.get-callback {
    display: inline-block;
    width: 305px;
    height: 50px;
    vertical-align: middle;
    float: right;
    background: #023095;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    color: #ffffff;
    padding-left: 20px;
    margin-top: 35px;
    position: relative;
}
.get-callback:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/icon-phone.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* top slider */
.slider-wrapper {
    width: 100%;
    padding: 0;
    position: relative;
}
.slider {
    width: 100%;
}
.slide {
    width: 100%;
    min-height: 240px;
    position: relative;
    overflow: hidden;
}
.slide img {
    width: 100%;
    height: auto;
    min-height: 240px;
}
.slide .tagline {
    display: block;
    width: 55%;
    font-family: "Nautilus Pompilius", sans-serif;
    font-size: 80px;
    position: absolute;
    left: 10%;
    top: 75px;
    color: #ffffff;
    text-align: right;
    line-height: 1;
}
.slide .tagline span {
    display: block;
    font-family: "Nautilus Pompilius", sans-serif;
    font-size: 80px;
    color: #ffffff;
    margin-right: -40px;
}
.slide .tagline .text {
    font-family: 'MyriadPro Regular', sans-serif;
    font-size: 42px;
    margin-right: 0;
    padding-right: 10px;
}
.slider-control {
    display: block;
    width: 55px;
    height: 55px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fefefe;
    position: absolute;
    bottom: 30%;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.slider-wrapper .left-control {
    left: 2%;
    background: #fefefe url('../images/sprite-slider-control.png') no-repeat left center;
    background-size: cover;
}
.slider-wrapper .right-control {
    right: 2%;
    background: #fefefe url('../images/sprite-slider-control.png') no-repeat right center;
    background-size: cover;
}
.slider-control:hover {
    background-color: #dddddd;
}
.form-inline {
    width: 300px;
    padding: 25px 0 30px;
    position: absolute;
    top: 3%;
    right: 8%;
    background: #e2e4e4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.form-field-wrap {
    display: block;
    width: 270px;
    height: 40px;
    margin: 0 auto 15px;
}
.form-field {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.form-inline input[type="submit"], .success-block .close-button, .form-callback input[type="submit"] {
    width: 210px;
    height: 50px;
    background: #ff6601;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.75);
}
.success-block .close-button {
    margin: 25px auto 0;
    line-height: 50px;
    cursor: pointer;
}
.form-callback input[type="submit"] {
    box-shadow: none;
    background: #023095;
}
.success-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e2e4e4;
    padding: 30% 10px 0;
    display: none;
}
.close-marker {
    color: #ffffff;
    position: absolute;
    right: -20px;
    top: 0;
    cursor: pointer;
}
.slide-2 .tagline, .slide-3 .tagline {
    font-size: 100px;
    text-align: left;
}
.slide-2 span, .slide-3 span {
    margin: 0;
}
.slide-3 span {
    text-align: right;
    text-transform: uppercase;
}

/** achievements **/
.achievements {
    padding: 50px 0;
}
.achievements ul {
    width: 100%;
}
.achievements ul li {
    width: 25%;
    min-width: 280px;
    margin: 20px 2.5%;
    vertical-align: top;
}
.achievements img {
    width: 140px;
    height: 140px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto 15px;
}
.achievements .sub-title {
    font-size: 50px;
    color: #fb6700;
}
.achievements .text {
    padding: 0 10%;
    font-size: 30px;
}
.achievements .get-callback {
    width: 420px;
    height: 80px;
    font-size: 22px;
    float: none;
    margin-top: 50px;
    padding-left: 40px;
}
.achievements .get-callback:before {
    width: 50px;
    height: 50px;
    left: 20px;
}

/** services **/
.services {
    padding: 50px 0 0;
}
.services ul {
    margin-top: 50px;
}
.services ul li {
    width: 100%;
    background: #023095;
    padding: 5% 0;
}
.services ul li:last-child {
    padding: 3% 0;
}
.services .icon-service {
    display: inline-block;
    vertical-align: middle;
    width: 145px;
    height: 130px;
    background: url('../images/sprite-services.png') no-repeat center -1%;
    background-size: cover;
}
.services ul li:nth-child(2n) {
    background-color: #eaf0fe;
}
.services ul li:nth-child(2) .icon-service {background: url('../images/sprite-services.png') no-repeat center 25%;background-size: cover;}
.services ul li:nth-child(3) .icon-service {background: url('../images/sprite-services.png') no-repeat center 51%;background-size: cover;}
.services ul li:nth-child(4) .icon-service {background: url('../images/sprite-services.png') no-repeat center 76.5%;background-size: cover;}
.services ul li:nth-child(5) .icon-service {background: url('../images/sprite-services.png') no-repeat center 101.5%;background-size: cover;}
.services ul li:nth-child(6) .icon-service {width: 185px; height: 180px; background: url('../images/image-rf-emblem.png') no-repeat center;background-size: cover;}

.services .service-info {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-left: 3%;
    text-align: left;
}
.services .sub-title {
    font-size: 45px;
    color: #ffffff;
}
.services .text {
    font-size: 30px;
    color: #ffffff;
}
.services ul li:nth-child(2n) .sub-title, .services ul li:nth-child(2n) .text {
    color: #074875;
}

/** why-free **/
.why-free {
    padding: 50px 0;
}
.why-free h2 {
    margin-bottom: 3%;
}
.why-free p {
    font-size: 35px;
}

/** specialties **/
.specialties {
    padding: 50px 7.5%;
    text-align: left;
}
.bachelor-programs, .specialist-programs {
    width: 100%;
}
.specialties h2 {
    text-align: center;
}
.specialties .sub-title {
    font-size: 30px;
    padding-left: 50px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 15px;
}
.specialties .sub-title:before {
    content: '1';
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fb6700;
    color: #ffffff;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.programs:last-child .sub-title:before {
    content: '2';
}
.specialties table {
    width: 100%;
    margin: 0 auto 25px;
    border-collapse: collapse;
}
.specialties tr {
    width: 100%;
}
.specialties .openable {
    display: none;
}
.specialties th:nth-child(1) {width: 10%;}
.specialties th:nth-child(2) {width: 30%;}
.specialties th:nth-child(3) {width: 30%;}
.specialties th:nth-child(4) {width: 15%;}
.specialties th:nth-child(5) {width: 15%;}
.specialties th {
    text-align: center;
    border: 1px solid #dcddde;
    border-right: none;
    padding: 1% 5px;
    min-height: 60px;
    font-size: 22px;
    font-weight: 100;
}
.specialties th:nth-child(2n) {
    background: #eaf0fe;
}
.specialties td {
    border: 1px solid #dcddde;
    border-top: none;
    border-right: none;
    font-size: 22px;
    padding: 1% 5px;
    vertical-align: middle;
    text-align: center;
    min-height: 60px;
}
.specialties td:nth-child(1) {width: 10%;}
.specialties td:nth-child(2) {width: 60%;text-align: left;padding-left: 30px;}
.specialties td:nth-child(3) {width: 15%;}
.specialties td:nth-child(4) {width: 15%;}

.specialties td:last-child, .specialties th:last-child {
    border-right: 1px solid #dcddde!important;
}

.see-more {
    display: inline-block;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
}
.see-more:before {
    content: '';
    display: block;
    width: 40px;
    height: 30px;
    background: url('../images/sprite-programs.png') no-repeat left center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.see-more.opened:before {
    background: url('../images/sprite-programs.png') no-repeat 30% center;
    background-size: cover;
}
.see-more span {
    display: none;
    font-size: 22px;
    color: #023095;
    opacity: 0.3;
}
.see-more:hover span {
    opacity: 0.6;
}
.see-more:hover:before {
    background: url('../images/sprite-programs.png') no-repeat 60% center;
    background-size: cover;
}
.see-more.opened:hover:before {
    background: url('../images/sprite-programs.png') no-repeat 90% center;
    background-size: cover;
}
.see-more .active {
    display: inline-block;
}

/** reviews **/
.reviews {
    background: #aeb8cc;
    padding: 50px 100px;
}
.reviews h2 {
    color: #555555;
    margin-bottom: 30px;
}
.review-slide img {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
    height: 190px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #7d7d7d;
}
.review-slide .reviewer-info {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    margin: 0 2.5% 0 1%;
    text-align: left;
}
.reviewer-name {
    font-size: 22px;
    color: #202d33;
}
.reviewer-profession {
    font-size: 17px;
    color: #707b82;
}
.review-slide .review {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    text-align: left;
}
.review .sub-title {
    font-size: 30px;
    color: #555555;
}
.review .text {
    font-size: 22px;
    color: #555555;
    text-align: justify;
}
.slick-slide, .slick-slide:hover, .slick-slide:active {
    outline: none;
}
.reviews-slider .slick-dots {
    margin-top: 25px;
}
.reviews-slider .slick-dots li {
    margin: 0 5px ;
}
.reviews-slider .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    color: transparent;
    line-height: 0;
    font-size: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reviews-slider .slick-dots li:hover button {
    background: #ffa225;
}
.reviews-slider .slick-dots .slick-active button, .reviews-slider .slick-dots .slick-active:hover button {
    background: #fb6700;
}

/** certificates **/
.certificates {
    padding: 50px 0;
}
.certificates ul {
    margin-top: 30px;
}
.certificates li {
    height: 350px;
    margin: 1% 0.5%;
}
.certificates li img {
    width: auto;
    height: 100%;
}

/** contacts **/
.contacts {
    padding: 50px 0;
    background: #023095;
}
.contacts h2 {
    color: #ffffff;
    margin-bottom: 30px;
}
.contacts ul li {
    text-align: left;
    vertical-align: top;
    margin: 30px 10px;
}
.contacts .phone, .contacts .email {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ffffff;
    padding-left: 50px;
    position: relative;
    text-decoration: none;
}
.contacts .phone:before, .contacts .email:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 0;
    background: url('../images/sprite-contacts.png') no-repeat center top;
    background-size: cover;
}
.contacts .email:before {
    background: url('../images/sprite-contacts.png') no-repeat center 110%;
    background-size: cover;
}

.inst-wrapper {
    max-width: 310px;
    padding: 40px 10px 0;
}

/** modal window **/
.window-callback {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.25);
    display: none;
    text-align: left;
    z-index: 5;
}
.form-callback {
    position: absolute;
    width: 310px;
    height: 210px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    background: rgba(226, 228, 228, 0.9);
    padding: 20px 0;
}
.form-callback .success-block {
    padding: 40px 0 0;
}
.form-callback .success-block p {
    padding: 0 10px;
}

@media (max-width: 1330px) {
    .slide-1 .tagline, .slide-2 .tagline, .slide-3 .tagline {
        font-size: 70px;
        text-align: left;
    }
    .slide-1 .tagline span, .slide-2 .tagline span, .slide-3 .tagline span {
        font-size: 70px;
        text-align: left;
        margin: 0;
    }
    .slide-1 .tagline .text, .slide-2 .tagline .text, .slide-3 .tagline .text {
        margin: 0;
        padding: 0;
        font-size: 36px;
    }
}
@media (max-width: 1180px) {
    .logo-image {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
        height: 110px;
        position: static;
        margin: 10px 0;
    }
    .logo-text {
        margin: 15px 0 15px 2.5%;
    }
    .slide-1 .tagline, .slide-2 .tagline, .slide-3 .tagline {
        font-size: 60px;
    }
    .slide-1 .tagline span, .slide-2 .tagline span, .slide-3 .tagline span {
        font-size: 60px;
    }
    .slide-1 .tagline .text, .slide-2 .tagline .text, .slide-3 .tagline .text {
        font-size: 32px;
    }
    .form-inline {
        padding: 10px 0;
    }
}
@media (max-width: 1024px) {
    .header {
        padding: 25px 10px;
    }
    h1 {
        font-size: 48px;
        margin: 0;
    }
    .logo-text .tagline {
        font-size: 26px;
    }
    .header .get-callback {
        display: block;
        float: none;
        margin: 25px auto 0;
    }
    .slider-wrapper {
        padding-bottom: 340px;
    }
    .slider-control {
        bottom: auto;
        top: 20%;
    }
    .form-inline {
        margin: auto;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
    }
    .slide-1 .tagline, .slide-2 .tagline, .slide-3 .tagline {
        width: 75%;
        margin: auto;
        left: 0;
        right: 0;
    }
    .slide-1 .tagline {
        top: 10%;
    }
    .form-inline {
        padding: 25px 0 30px;
    }
    .review-slide .reviewer-info {
        min-width: 150px;
    }
    .review-slide .review {
        display: block;
        width: 100%;
        margin-top: 30px;
    }
    .reviews {
        padding: 50px 20px;
    }
}
@media (max-width: 768px) {
    h2 {
        font-size: 36px;
    }
    .slider, .slider-control {
        display: none;
    }
    .services .icon-service {
        display: block;
        margin: 0 auto;
    }
    .services ul li {
        padding: 10px 0 40px 0;
    }
    .services .service-info {
        width: 100%;
        padding: 0 10px;
        text-align: center;
        margin: 10px 0 0 0;
    }
    .services .sub-title {
        font-size: 32px;
    }
    .services .text {
        font-size: 22px;
    }
    .why-free {
        padding-left: 10px;
        padding-right: 10px;
    }
    .specialties th, .specialties td {
        font-size: 18px;
    }
}
@media (max-width: 640px) {
    .achievements ul li {
        margin: 50px 2.5%;
    }
    .specialties th, .specialties td {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .logo-image {
        width: 65px;
        height: 80px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    .logo-text .tagline {
        font-size: 18px;
    }
    .header .get-callback {
        width: 290px;
    }
    .achievements .get-callback {
        width: 300px;
        height: 60px;
        font-size: 16px;
    }
    .achievements .get-callback::before {
        width: 30px;
        height: 30px;
    }
    .specialties th, .specialties td {
        font-size: 12px;
    }
    .specialties td:nth-child(2) {padding-left: 10px;}
}
@media (max-width: 360px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .logo-text .tagline {
        font-size: 18px;
    }
    .specialties th, .specialties td {
        font-size: 10px;
    }
}